[submodule "ale"]
	path = .vim/bundle/ale
	url = https://github.com/dense-analysis/ale
[submodule "closetag"]
	path = .vim/bundle/closetag
	url = https://github.com/vim-scripts/closetag.vim
[submodule "delimitMate"]
	path = .vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "dracula"]
	path = .vim/bundle/dracula
	url = https://github.com/dracula/vim.git
[submodule "nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "tcomment_vim"]
	path = .vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired