[core]
	autocrlf = input
	editor = vim
	excludesfile = ~/.gitignore_global
[alias]
	ci = commit
	st = status
	co = checkout
	br = branch
	lc = log ORIG_HEAD.. --stat --no-merges
	last = log -1 HEAD
	unstage = reset HEAD --
	rollback = reset --soft HEAD~1
	restore = checkout -- 
[merge]
	log = true
	tool = vimdiff
[color]
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[push]
	default = simple
