[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim-twig"]
	path = vim-twig
	url = https://github.com/evidens/vim-twig.git
